html {
    font-family: normal_font;
}

@font-face {
    font-family: normal_font;
    src: url("normal.TTF");
}

@font-face {
    font-family: title_font;
    src: url("title.TTF");
}

.INF1 {
    z-index: 888890;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 372px;
    border-radius: 1px;
    padding: 38px;
    background: url("../images/menu.png") center center no-repeat;
}

.INFa1a {
    display: flex;
    justify-content: space-between;
    color: #943b3b;
    font-size: 16px;
    width: 500px;
    text-align: center;
    position: relative;
    font-weight: bold;
    margin-top: 5px;
}

.INFa1aa {
    width: 125px;
    margin: 10px 0px;
    cursor: pointer;
    -webkit-transition: all 138ms ease-out 138ms;
    -moz-transition: all 138ms ease-out 138ms;
    -o-transition: all 138ms ease-out 138ms;
    transition: all 138ms ease-out 138ms;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-family: title_font;
    font-size: 14px;
    border: 1px solid transparent;
}
.INFa1aa-0{
    border-radius: 3px;border: 1px solid #cda123;
}
.INFa1aa:hover {
    font-size: 16px;
    color: #d00505;
}

.INFa1b {
    width: 500px;
    height: 310px;
}

.INFa1b>div {
    display: none;
}


/*----------------------------------------*/


/*-------------------Thong tin----------------*/


/*----------------------------------------*/

#INFa1b4 {
    display: block;
}

.INFa1b1a {
    display: flex;
    justify-content: space-between;
}

.INFa1b1aa {
    width: 138px;
    height: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /*background:#282828;*/
    border-radius: 1px;
    box-sizing: border-box;
    -o-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    border: 1px solid #d0a325;
    border-radius: 3px;
}

.INFa1b1aaa {
    max-width: 138px;
    max-height: 88px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.INFa1b1aab {
    position: absolute !important;
    top: 0px;
    left: 0px;
    color: #a03636;
    width: 100%;
    text-align: center;
}

.INFa1b1aaba {
    display: inline-block;
    vertical-align: middle;
    font-weight:bold;
}

.INFa1b1aabb {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    margin-left: 3px;
}

.INFa1b1ab {
    width: 348px;
    height: 118px;
    border-radius: 1px;
    padding: 3px 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #383838;
    line-height: 2.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d0a325;
    border-radius: 3px;
}

.INFa1b1aba {
    width: 158px;
}

.INFa1b1abaa>span:hover {
    text-decoration: underline;
}

.INFa1b1abaa>a {
    color: #a03636;
}

.INFa1b1abaaa {
    display: inline-block;
    color: #a03636;
}

.INFa1b1abaaa>img {
    height: 15px;
    transform: translateY(2px);
}

.INFa1b1b {
    width: 500px;
    display: flex;
    justify-content: space-between;
    /*background:#282828;
    border:1px solid #888888 ;*/
    border-radius: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px 8px 5px 18px;
    margin-top: 8px;
    border: 1px solid #d2a628;
    border-radius: 3px;
}

.INFa1b1ba {
    /*color:#d8d8d8;*/
    color: #383838;
    line-height: 1.5;
}

.INFa1b1ba-a {
    width: 35%;
}

.INFa1b1ba-b {
    width: 28%;
}

.INFa1b1ba-c {
    width: 30%;
}

.INFa1b1baab-4 {
    color: #8e00b8 !important;
}

.INFa1b1baab-3 {
    color: #0dbf0d !important;
}

.INFa1b1baab-2 {
    color: #b58b30 !important;
}

.INFa1b1baab-1 {
    color: #ea0808 !important;
}
.INFa1b1baab>span {
    display: inline-block;
    width: 78px;
    font-size: 16px;
}

.INFa1b1baab>a {
    font-size: 15px;
}

.INFa1b1baab>div {
    display: inline-block;
}

.INFa1b1baaba-8 {
    color: #8e00b8;
}

.INFa1b1baaba-7 {
    color: #8e00b8;
}

.INFa1b1baaba-6 {
    color: #0000ff;
}

.INFa1b1baaba-5 {
    color: #0dbf0d;
    ;
}

.INFa1b1baaba-4 {
    color: #6f6d6d;
}

.INFa1b1baaba-3 {
    color: #b58b30;
}

.INFa1b1baaba-2 {
    color: #ea8808;
}

.INFa1b1baaba-1 {
    color: #ea0808;
}

.INFa1b1baaba-0 {
    color: #ea0808;
}

.INFa1b1bab {
    font-size: 14px;
    display: inline-block;
    font-family: title_font;
}


/*----------------------------------------*/


/*-------------------Ma Gen----------------*/

.INFa1b3 {
    display: flex;
    justify-content: space-between;
}

.INFa1b3a {
    display: inline-block;
}

.INFa1b3a>div {
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
}

.INFa1b3aa .INFa1b1aa {
    border-radius: 0px 0px 3px 3px;
}

.INFa1b3aaa {
    border: 1px solid #943b3b;
    border-bottom: none;
    background: #943b3b;
    border-radius: 3px 3px 0px 0px;
    color: white;
    /* text-align: center; */
    font-size: 12px;
    padding-left: 8px;
}

.INFa1b3b {
    display: inline-block;
    position: relative;
    border: 1px solid #d0a325;
    border-radius: 3px 6px 6px 3px;
    width: 350px;
    height: 276px;
    padding: 0px;
    float: right;
    overflow: scroll;
    overflow-x: hidden;
}
.INFa1b3baa-0>.INFa1b3baaa{
    padding: 8px 18px 3px 18px!important;
}
.INFa1b3baa-0>.INFa1b3baab{
    display:block;
}
.INFa1b3baaa {
    color: white;
    padding: 18px;
    cursor: pointer;
    position:relative;
}

.INFa1b3baaa-8 {
    background-color: #8e00b8;
}

.INFa1b3baaa-7 {
    background-color: #8e00b8;
}

.INFa1b3baaa-6 {
    background-color: #1919c3;
}

.INFa1b3baaa-5 {
    background-color: #0dbf0d;
}

.INFa1b3baaa-4 {
    background-color: #6f6d6d;
}

.INFa1b3baaa-3 {
    background-color: #b58b30;
}

.INFa1b3baaa-2 {
    background-color: #ea8808;
}

.INFa1b3baaa-1 {
    background-color: #ea0808;
}

.INFa1b3baaa-0 {
    background-color: #ea0808;
}
/* -------------------------------------------
---------------------before----------------
------------------------------------------- */

.INFa1b3baaa-8:before,.INFa1b3baaa-8:after {
    border-top: 5px solid #8e00b8;
}

.INFa1b3baaa-7:before,.INFa1b3baaa-7:after {
    border-top: 5px solid #8e00b8;
}

.INFa1b3baaa-6:before,.INFa1b3baaa-6:after {
    border-top: 5px solid #1919c3;
}

.INFa1b3baaa-5:before,.INFa1b3baaa-5:after {
    border-top: 5px solid #0dbf0d;
}

.INFa1b3baaa-4:before,.INFa1b3baaa-4:after {
    border-top: 5px solid #6f6d6d;
}

.INFa1b3baaa-3:before,.INFa1b3baaa-3:after {
    border-top: 5px solid #b58b30;
}

.INFa1b3baaa-2:before,.INFa1b3baaa-2:after {
    border-top: 5px solid #ea8808;
}

.INFa1b3baaa-1:before,.INFa1b3baaa-1:after {
    border-top: 5px solid #ea0808;
}

.INFa1b3baaa-0:before,.INFa1b3baaa-0:after {
    border-top: 5px solid #ea0808;
}
/* ----------------------------------------------------
---------------------------------------------------- */
.INFa1b3baaba-8 {
    color: #8e00b8 !important;
}

.INFa1b3baaba-7 {
    color: #8e00b8 !important;
}

.INFa1b3baaba-6 {
    color: #1919c3 !important;
}

.INFa1b3baaba-5 {
    color: #0dbf0d !important;
}

.INFa1b3baaba-4 {
    color: #6f6d6d !important;
}

.INFa1b3baaba-3 {
    color: #b58b30 !important;
}

.INFa1b3baaba-2 {
    color: #ea8808 !important;
}

.INFa1b3baaba-1 {
    color: #ea0808 !important;
}

.INFa1b3baaba-0 {
    color: #ea0808 !important;
}

.INFa1b3baab {
    display: none;
    position: relative;
    padding:8px 18px;
}
.INFa1b3baaa:before {
    position: absolute;
    bottom: -4px;
    right: 0px;
    width: 0;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    width: 50%;
    box-sizing: border-box;
    -o-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.INFa1b3baaa:after {
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 0;
    border-right: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    width: 50%;
    box-sizing: border-box;
    -o-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.INFa1b3baaba{
    margin:3px 0px;
}
.INFa1b3baaba>span{
    color: #943b3b;
    font-weight: bold;
}
.INFa1b3baaba>a{
    color: #943b3b;
}
/*----------------------------------------*/


/*----------------------------------------*/


/*-------------------Tien Hoa----------------*/


/*----------------------------------------*/


/*----------------------------------------*/


/*-------------------Phoi giong----------------*/


/*----------------------------------------*/


/*----------------------------------------*/


/*-------------------Danh hieu----------------*/


/*----------------------------------------*/

.INFa1b4 {
    height: 100%;
}

.INFa1b4a {
    height: 268px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 18px;
}

.INFa1b4aa {
    display: inline-flex;
    justify-content: left;
    width: 240px;
    color: #943b3b;
    margin-bottom: 18px;
}

.INFa1b4aaa {
    width: 68px;
    height: 68px;
    margin-right: 8px;
    border-radius: 8px;
    border: 1px solid #943b3b;
    overflow: hidden;
}

.INFa1b4aab {
    width: 168px;
}

.INFa1b4aabd>button {
    background: rgba(0, 0, 0, 0);
    color: #d8d8d8;
    border: 2px solid #888888;
    border-radius: 2px;
    padding: 3px 8px;
    margin-right: 8px;
    cursor: pointer;
    -webkit-transition: all 138ms ease-out 138ms;
    -moz-transition: all 138ms ease-out 138ms;
    -o-transition: all 138ms ease-out 138ms;
    transition: all 138ms ease-out 138ms;
}

.INFa1b4aabd>button:hover {
    border: 2px solid #f8f888;
    color: #f8f888;
}

.INFa1b4aaba {
    font-weight: bold;
}

.INFa1b4aabb {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 168px;
    max-height: 22px;
    white-space: nowrap;
}

.INFa1b4aabb:hover {
    max-height: none;
    white-space: normal;
}

.INFa1b4aabb {
    font-style: italic;
}

.INFa1b4b {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #383838;
    font-size: 25px;
}


/* -------------------------------------------------- */

.INFb {}

.INFba {
    padding: 18px;
    display: inline-block;
}

.INFbaa {
    width: 100px;
    height: 100px;
    background: url(../image/menu/1.png) center center no-repeat;
}

.INFba1 {}

.INFbab {}


/* tooltip*/

[ttInfo] {
    position: relative;
    cursor: help;
    -webkit-transition: all 138ms ease-out 138ms;
    -moz-transition: all 138ms ease-out 138ms;
    -o-transition: all 138ms ease-out 138ms;
    transition: all 138ms ease-out 138ms;
}


/* Hide the tooltip content by default */

[ttInfo]:before,
[ttInfo]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    display: none;
    pointer-events: none;
    z-index: 1000;
}


/* Position tooltip above the element */

[ttInfo]:before {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 8px 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.88);
    font-family: normal_font;
    color: #d8d8d8;
    content: attr(ttInfo);
    font-size: 14px;
    line-height: 1.2;
    width: 138px;
    white-space: pre-wrap;
    z-index: 1000;
}


/* Triangle hack to make tooltip look like a speech bubble */

[ttInfo]:after {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid rgba(0, 0, 0, 0.88);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}


/* Show tooltip content on hover */

[ttInfo]:hover:before,
[ttInfo]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    display: block;
}


/*&#10; 

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.48);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.68);
}

.nicescroll-rails-vr .nicescroll-cursors {
animation: pace-stripe-animation 500ms linear infinite;
background-size: 20px 20px;
}*/

.heo_menu{
    
    box-sizing: border-box;
    -o-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width:500px;
    margin:auto;
    margin-top:15px;
}

.menu_item{
    width:150px;
    display:inline-block;
    margin:8px;
    color:#484848;
    text-align:center;
    cursor:pointer;
    border:2px solid #d1a629;
    box-sizing: border-box;
    -o-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius:3px;
    padding: 8px 0px;
}

